<%# 本の追加or削除成功のメッセージ通知 %>
<p id="notice"><%= notice %></p>


<%# あとで段落なしにする %>
<h4>Title:</h4>
<p><%= @book.title %></p>

<h4>Body:</h4>
<p><%= @book.body %></p>


<%# 編集とホームへ戻るリンクを %>
 <%= link_to 'Edit', edit_book_path %>
 | 
 <%= link_to 'Back', books_path %>