<%= form_for(@book) do |f| %>
    
    <%# エラーメッセージ %>
    <% if @book.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
            <h2><%= @book.errors.count %>errors prohibited this book from being saved:</h2>
            <ul>
                <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%# フォーム本体 %>
    <div class="field">
        <h3>Title</h3>
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <h3>Body</h3>
        <%= f.text_area :body %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>